.navbar {
    background-color: rgb(0, 174, 218);
    border-radius: 20px;
}
.navbar ul {
    overflow: auto;
}
.navbar li {
    float: left;
    list-style: none;
    margin: 13px 20px;
}
.navbar li a {
     padding: 3px 3px;
     text-decoration: none;
     color: white;
}
.navbar input {
    border: 2px solid rgb(255, 255, 255) ;
    border-radius: 15px;
   
}
.search {
    float: right;
    color: rgb(255, 255, 255);
    padding: 12px 25px;
}
.first-head h1 {
    font-family: 'Merriweather', serif;
    font-weight: bolder;
    font-size: 40px;
}
span{
    color: rgb(0, 195, 255);
}
.food-network {
    display: flex;
    margin-top: 50px;
    width: 100%;
    height: 100%;
}
.first-head {
    width: 100%;
}
.first-head-text {
    margin: 50px;
    margin-top: -20px;
    padding: 40px;
}
.first-head-text h1 {
    color: #7f9399;
}

a#link-button {
    margin-top: 200px;
    text-decoration: none;
    color: white;
    background-color:rgb(255, 0, 0);
    border: 1px solid none;
    padding: 16px 35px;
    border-radius: 28px;
    background-image: linear-gradient(to right, rgb(0, 247, 255) , rgb(0, 132, 255));
}
.first-head img {
    width: 100%;
}
.food-network-me {
    margin:0%;
    background-image: url(/shapes/frame.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
}
.first-head #male-dietitian {
    width: 120%;
    height: 80%;
    margin: 12.7% -40% 0% -40% ;
}
.first-head-text2 {
    margin: 50px;
    padding: 50px 50px;
}
.first-head-text2 h2 {
    color: #888888;
}
.my-recipies {
    text-align: center;
    padding:3%;
    margin-top: -10px;
}
.my-recipies h1 {
    font-family: 'Bitter', serif;
    font-size: xx-large;
    font-weight: bolder;
    color: #888888;
}
.my-recipies p {
    padding: 0px 175px 0px 175px;
}
.food-pic {
    display: flex;
    width: 90%;
    margin-left: 50px;
    margin-right: 15px;
    padding-left: 0px;
    padding-right: 0px;
    
}
.image-size {
    width: 100%;
}
.food-block {
    border: 1px solid white;
    box-shadow: 1px 1px 20px #888888;;
    border-radius: 20px;
    width: 30%;
    margin: 25px;
    padding: 15px;
    justify-content: center;
}
.online-presence {
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 10px #888888;
    border-radius: 15px;
    display: block;
    margin: 70px;
   
}
.popularity {
    margin: 40px 40px 60px 40px;
    display: flex;

}
.popularity-data {
    display: block;
    margin-left: 75px;
    margin-right: 75px;
}
.popularity-data-heading {
    font-weight:bolder;
    font-family: 'Open Sans', sans-serif;
    font-size:xx-large;
}
footer{
    border: 2px solid black;
    background-color: black;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 80px;
}
#food-text-color {
    color: rgb(255, 153, 0);
}
#food-text-color1 {
    color: rgb(235, 184, 108);
}
#food-text-color3 {
    color: white;
}